body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}